.button {
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid #0000;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  font-size: 16px;
  transition: border-color .3s;
  width: 48%;
  height: 64px;
}

.button:hover {
  border-color: var(--accent-border);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header1 {
  color: var(--text-h);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

.header2 {
  color: var(--text-h);
  text-align: center;
  margin-bottom: 16px;
}

.description {
  color: var(--text);
  text-align: center;
}