.error {
  border: 1px solid #f00;
  background-color: rgb(85, 25, 25);
  border-radius: var(--border-r);
  padding: 8px;
  text-align: center;
  color: #e22;

}

.errorText {
    margin: 4px;
}

.errorCode {
  display: block;
  width: 100%;
  font-size: 16px;
}