:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: #c084fc26;
  --accent-border: #c084fc80;
  --social-bg: #2f303a80;
  --shadow: #0006 0 10px 15px -3px, #00000040 0 4px 6px -2px;

  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background-color: var(--bg);
}